
body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Styling for the header and navbar */
header {
    background-color: rgb(222, 94, 115); 
    padding: 10px 0;
}

.navbar {
    background-color: inherit; 
}

.navbar-brand {
    color: white;
    font-family: 'Dancing Script', cursive; 
    font-size: 1.5rem; 
}

.navbar-nav .nav-link {
    color: white; 
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa; 
}

/* Styling for the footer */
footer {
    background-color: rgb(222, 94, 115); 
    text-align: center;
    padding: 20px;
    color: white; 
    margin-top: 20px; 
    position: relative;
    top: 259px;
}

.social-media-links {
    display: flex;
    justify-content: center; 
    gap: 690px; 
}

.social-media-links a {
    color: white; 
    text-decoration: none; 
}

.social-media-links a:hover {
    background-color: white; 
    color: rgb(222, 94, 115);
    border-radius: 50%;
    padding: 5px; 
}

/* Styling for boxes */
.box {
    background-color: rgb(222, 94, 115); 
    color: white; 
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 20px;
    text-align: center; 
}

/* Specific styles for greeting section */
.greeting {
    position: relative;
    top: 50px;
}

/* Specific styles for about section */
.about {
    background-color: rgb(255, 255, 255); 
    color: rgb(222, 94, 115); 
    border: 1px solid rgb(222, 94, 115);
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 20px; 
    text-align: center;
    position: relative;
    top: 180px;
}