body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Styling for the header and navbar */
header {
    background-color: rgb(222, 94, 115); 
    padding: 10px 0;
}

.navbar {
    background-color: inherit; 
}

.navbar-brand {
    color: white;
    font-family: 'Dancing Script', cursive; 
    font-size: 1.5rem; 
}

.navbar-nav .nav-link {
    color: white; 
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa; 
}

/* Styling for the footer */
footer {
    background-color: rgb(222, 94, 115); 
    text-align: center;
    padding: 20px;
    color: white; 
    margin-top: 20px; 
}

.social-media-links {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.social-media-links a {
    color: white; 
}

.social-media-links a:hover {
    background-color: white; 
    color: rgb(222, 94, 115); 
}

.ladypink {
    background-color: rgb(222, 94, 115);
    margin: 5px;
    border-radius: 30px;
    padding: 15px;
    color: white;
}