body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Styling for the navbar */

.navbar {
    background-color: rgb(222, 94, 115); 
}

.navbar-brand {
    color: white;
    font-family: 'Dancing Script', cursive; 
    font-size: 1.5rem; 
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: black; 
}

/* Styling for the footer */
footer {
    background-color: rgb(222, 94, 115); 
    color: white; 
    padding: 20px;
    border-top: 2px solid white;
    text-align: center;
    position: relative;
    top: 220px;
}

.social-media-links {
    display: flex;
    justify-content: space-between;
}

.social-media-links a {
    color: white; 
    margin: 0 10px;
    text-decoration: none; 
}

.social-media-links a:hover {
    color: #f8f9fa; 
}

/* Styling for boxes */
.box {
    background-color: rgb(222, 94, 115); 
    color: white; 
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 20px;
    text-align: center; 
}

/* Specific styles for greeting section */
.greeting {
    position: relative;
    top: 50px;
}

/* Specific styles for about section */

.about {
    background-color: rgb(255, 255, 255); 
    color: rgb(222, 94, 115); 
    border: 1px solid rgb(222, 94, 115);
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 20px; 
    text-align: center;
    position: relative;
    top: 90px
}

@media (mad-width: 1440px) {
    
}